<div class="client-list-container">
    <div class="client-list-box">
        <div class="header-row">
            <p>ASV Client List</p>
            <div class="header-right">
                <div class="search-box">
                    <img src="/assets/icons/magnifying-glass 2.png" alt="Search Icon">
                    <input type="text" placeholder="Search Certificates" [(ngModel)]="serarch_text"
                        (input)="filter_list()">
                </div>
                <button class="export-btn" (click)="exportToExcel()"><span>Export to Excel</span></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Q1</th>
                        <th>Q2</th>
                        <th>Q3</th>
                        <th>Q4</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Example Row -->
                    <tr *ngFor="let row of filtered_list">
                        <td>{{ row.company }}</td>
                        <td>{{ row.Q1 }}</td>
                        <td>{{ row.Q2 }}</td>
                        <td>{{ row.Q3 }}</td>
                        <td>{{ row.Q4 }}</td>
                        <td>
                            <div class="action-box">
                                <img src="/assets/icons/edit.png" alt="Edit" (click)="editRow(row)">
                                <img src="/assets/icons/delete.png" alt="Delete" (click)="deleteRow(row)">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="edit-popup" *ngIf="editingRow">
    <h2>Edit Client</h2>

    <!-- Row 1 -->
    <div class="form-row">
        <div class="form-group">
            <label>Company</label>
            <input type="text" [(ngModel)]="editingRow.company">
        </div>

        <div class="form-group">
            <label>Q1</label>
            <input type="text" [(ngModel)]="editingRow.Q1">
        </div>
    </div>

    <!-- Row 2 -->
    <div class="form-row">
        <div class="form-group">
            <label>Q2</label>
            <input type="text" [(ngModel)]="editingRow.Q2">
        </div>

        <div class="form-group">
            <label>Q3</label>
            <input type="text" [(ngModel)]="editingRow.Q3">
        </div>
    </div>

    <!-- Row 3 -->
    <div class="form-row">
        <div class="form-group">
            <label>Q4</label>
            <input type="text" [(ngModel)]="editingRow.Q4">
        </div>
    </div>

    <div class="buttons">
        <button class="save-btn" (click)="saveEdit()">Save</button>
        <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
    </div>
</div>