* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Container */
.qsa-container {
  background-color: rgba(250, 251, 254, 1);
  width: 100%;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}

/* Tabs */
.tab-header {
  display: flex;
  gap: 5rem;  
}

.tab {
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: all 0.2s ease;
  
}
.tab.active{
  padding-bottom: 8px;
  border-bottom: 4px solid #2f5ff7;

}
/* .tab-header button:hover {
  color: #396aff;
}

.tab-header button.active {
  color: #2f5ff7;
  font-weight: 600;
  width: 30px;
  
} */

/* Responsive */
@media (max-width: 1024px) {
  .qsa-box {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .qsa-container {
    padding: 1rem;
  }
  .tab-header {
    flex-direction: column;
    gap: 0.5rem;
  }
  .tab-header button {
    flex: 1 1 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .qsa-box {
    padding: 1rem;
  }
  .tab-header button {
    font-size: 0.9rem;
    padding: 0.6rem 0.8rem;
  }
}
