<div class="qsa-container">

  <!-- Tabs -->
  <div class="tab-header">
    <button [class.active]="activeTab === 'add'" (click)="activeTab = 'add'">
      Add QSA
    </button>
    <button [class.active]="activeTab === 'list'" (click)="activeTab = 'list'">
      QSA List
    </button>
  </div>

  <!-- Add QSA Form -->
  <div *ngIf="activeTab === 'add'" class="qsa-box">
    <app-qsa-add></app-qsa-add>
  </div>

  <!-- QSA List -->
  <div *ngIf="activeTab === 'list'" class="qsa-box">
    <app-qsa-list></app-qsa-list>
  </div>

</div>